.App {
  text-align: center;
  background-color: #fcc9df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: calc(15px + 2vmin);
  font-style: italic;
  color: #e91e63;
  margin: auto;
}

.input {
  background-color: #fcc9df;
  width: 55%;
  border: none;
  border-bottom: 1px solid #e91e63;
  text-align: left;
  font-size: calc(20px + 2vmin);
  color: #e91e63;
}

input:focus {
  border: none;
  border-bottom: 1px solid #e91e63;
  outline-offset: 0px;
  outline: none;
}

.cardDiv {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.card {
  margin-right: 25px;
  margin-left: 25px;
  width: 500px;
}

.App-header {
  text-align: center;
  font-size: calc(65px + 2vmin);
  color: #e91e63;
  font-style: normal;
}

.App-sub-header {
  text-align: center;
  font-size: calc(60px + 2vmin);
  color: #e91e63;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-down-arrow {
    animation: App-down-arrow infinite 3s linear;
  }
}

@keyframes App-down-arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
