.App {
  text-align: center;
  background-color: #fcc9df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: #e91e63;
}

.cardDiv {
  justify-content: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.card {
  margin-right: 25px;
  margin-left: 25px;
  width: 500px;
}

.App-header {
  text-align: center;
  font-size: calc(65px + 2vmin);
  color: #e91e63;
  font-style: normal;
}

.App-sub-header {
  text-align: center;
  font-size: calc(40px + 2vmin);
  color: #e91e63;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-down-arrow {
    animation: App-down-arrow infinite 3s linear;
  }
}

@keyframes App-down-arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
